@{
    ViewData["Title"] = "Tasks";
    var tasks = (List<TaskModel>)ViewData["tasks"];
}

    <div class="jumbotron">
        <a asp-controller="Task" asp-action="New" class="btn btn-lg btn-primary">+</a>
        @foreach (var t in tasks)
        {
        <p>@t.Title</p>
        }
    </div>
