@page
@model Motivator.Pages.Todos.CreateModel
@{
    ViewData["Title"] = "Create Todo";
}


<div id='app'>
    <form class="form" method="post" novalidate>
        <h2 class="form-heading">Create a New Todo</h2>
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" asp-for="Title" id="inputTitle" class="form-control first" placeholder="Title" required autofocus />

        <hr />

        <!-- Parent Todo -->
        <div class="form-group form-inline" v-if="todos && todos.length > 0">
            <label>Select Parent</label>
            <select asp-for="ParentTodoId" v-model="selectedTodo" class="col form-control">
                <option v-for="todo in todos" :value="todo.Id">{{todo.Title}}</option>
            </select>
        </div>

        <hr />

        <!-- Due Date -->
        <div v-if="useDueDate">
            <label for="inputDueDate" class="sr-only">Due Date</label>
            <input type="datetime-local" asp-for="DueDate" id="inputDueDate" class="form-control" />
            <input type="checkbox" asp-for="UseDueDate" v-model="useDueDate" hidden />
        </div>
        <button v-if="!useDueDate" v-on:click="addDueDate" class="btn btn-lg">Add Due Date</button>

        <hr />

        <!-- Description -->
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Description"></textarea>

        <hr />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
    }
</div>

<script src="~/js/todos/create.js" asp-append-version="true"></script>