@page
@model Motivator.Pages.Todos.OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<h2>Overview</h2>

<div id='app'>
    <label>Your Todos</label>
    <table class="table table-hover table-striped">
        <tr class="row">
            <th class="row">Title</th>
            <th class="row">Due Date</th>
            <th class="row">Completed</th>
        </tr>
        <tr v-for="(item, index) in sortedTodos" class="row">
            <td class="col">{{item.Title}}</td>
            <td class="col">{{prettifyDate(item.DueDate)}}</td>
            <td class="col">
                <input type="checkbox" class="checkbox" v-model="item.IsCompleted" v-on:change="onCompleteChanged(item.Id, item.IsCompleted)"/>
            </td>
        </tr>
    </table>

    <a asp-page="create" class="btn btn-lg btn-primary">New</a>
    <button v-on:click="loadTodos" class="btn btn-lg btn-primary">Reload</button>
</div>

<script src="~/js/todos/overview.js" asp-append-version="true"></script>
<!--<script>
    vueApp.todos = Html.Raw(Model.GetTodosLight())
</script>-->
