@page
@model Motivator.Pages.Todos.OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<h2>Overview</h2>

<div id='app'>
    <label>Your Todos</label>
    <table class="table table-hover table-striped">
        <tr v-for="(item, index) in sortedTodos" class="row">
            <td class="col">{{item.Title}}</td>
            <td class="col">{{prettifyDate(item.DueDate)}}</td>
        </tr>
    </table>

    <a asp-page="create" class="btn btn-lg btn-primary">New</a>
    <button v-on:click="loadTodos" class="btn btn-lg btn-primary">Reload</button>
</div>

<script src="~/js/todos/overview.js" asp-append-version="true"></script>
<!--<script>
    vueApp.todos = Html.Raw(Model.GetTodosLight())
</script>-->
