@page
@model Motivator.Pages.Tasks.OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

<h2>Overview</h2>

<div id='app'>
    <label>Your Tasks</label>
    <table class="table table-hover table-striped">
        <tr v-for="(item, index) in sortedTasks" class="row">
            <td class="col">{{item.Title}}</td>
            <td class="col">{{prettifyDate(item.DueDate)}}</td>
        </tr>
    </table>

    <a asp-page="create" class="btn btn-lg btn-primary">New</a>
    <button v-on:click="loadTasks" class="btn btn-lg btn-primary">Reload</button>
</div>

<script src="~/js/tasks/overview.js" asp-append-version="true"></script>
<!--<script>
    vueApp.tasks = Html.Raw(Model.GetTasksLight())
</script>-->
