@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Hello @(User.Identity.Name)</h1>
            <form method="post" asp-controller="Auth" asp-action="LogOut">
                <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Log Out</a>
            </form>

            <a asp-controller="Task" asp-action="Overview" class="btn btn-lg btn-primary">My Tasks</a>
        }
        else
        {
            <p>
                <a asp-controller="Auth" asp-action="Register" class="btn btn-lg btn-default">Register</a>
                <a asp-controller="Auth" asp-action="LogIn" class="btn btn-lg btn-primary">Log In</a>
            </p>
        }
    </div>
